#photooce img{

    height: 350px;
    width: ;
    }
    
    #title{
       
        text-align: center;
        margin-top: 30px;
    
    }
    
    main img{
        border-radius: 2%;
    }
    